<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.meneame.fisgodroid"
    android:versionCode="301"
    android:versionName="3.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="net.meneame.fisgodroid.FisgodroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.meneame.fisgodroid.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/MeneameTheme.Overlay"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="net.meneame.fisgodroid.FisgoService"
            android:exported="false" />

        <activity
            android:name="net.meneame.fisgodroid.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/MeneameTheme.Overlay" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <receiver android:name="net.meneame.fisgodroid.NetworkChangeReceiver" />

        <activity
            android:name="net.meneame.fisgodroid.ProfileActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        
        <activity
            android:name="net.meneame.fisgodroid.SettingsActivity"
            android:theme="@style/MeneameTheme" >
        </activity>

        <receiver android:name="net.meneame.fisgodroid.FisgoScheduler" />
    </application>

</manifest>