<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.meneame.fisgodroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.meneame.fisgodroid.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="net.meneame.fisgodroid.FisgoService"
            android:exported="false" />

        <activity
            android:name="net.meneame.fisgodroid.ChatActivity"
            android:label="@string/title_activity_chat" >
            <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value=".LoginActivity" />
        </activity>
    </application>

</manifest>
